body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

.App {
  height: 100vh;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
} /* This closing brace was missing */

ul {
  list-style-type: none; /* Removes the default bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

h1 {
  font-size: 3em; /* Adjust size as needed */
  color: #fff; /* Example color */
  /* Additional styles */
}

h2 {
  font-size: 1.5em;
  color: #ccc;
  /* Additional styles */
}

h3 {
  font-size: 1.2em;
  color: #aaa;
  /* Additional styles */
}


.article-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.vis-container {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent; /* Example: semi-transparent white */
}

.controls {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  padding: 8px 16px; /* reduced vertical padding */
  color: #fff;
  width: 100%; /* full width */
  border-radius: 0; /* no border radius for top bar style */
  display: flex; /* aligns children inline */
  justify-content: center; /* centers children horizontally */
  align-items: center; /* centers children vertically */
  top: 0; /* ensures it's at the top */
  left: 0; /* aligns to the left edge */
}

.button-active {
  border: 2px solid #fff; /* White border for active button */
}

.controls > button,
.reset-button {
  padding: 10px;
  background: #222;
  color: #ccc;
  border-radius: 12px;
  border: none;
  margin: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.controls > button:hover,
.reset-button:hover {
  background-color: #111;
  color: #fff;
}

.controls > button.active {
  font-weight: bold;
  border-radius: 12px;
  background-color: #131313;
  color: #fff;
}

.selected-point {
  font-size: 0.85em;
  margin-top: 0px;
  position: absolute; /* or `relative` depending on your layout needs */
  top: 0; /* Adjust as necessary to position the element */
  left: 0; /* Adjust as necessary to position the element */
  z-index: 2; /* Ensure it's above other elements */
  width: 100%; /* Make sure it spans the width of the screen or container */
  text-align: center; /* Center the text if desired */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.reset-button {
  display: inline-block;
  position: fixed; /* Fix the position relative to the viewport */
  bottom: 20px; /* Distance from bottom, adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
  z-index: 1; /* Ensure it's above other elements */
  border: #000 1px;
  border-radius: 20px;
}

.open-button {
  position: center;
  margin-top: 5px;
  margin-left: 5px;
  background-color: transparent;
  color: #fff;
  border: 0px;
  border-radius: 12px;
  right: 16px;
  top: 16px;
  z-index: 1;
}
