
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

.App {
  height: 100vh;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
  align-items: left;
  text-align: left;
} 

ul {
  list-style-type: none; /* Removes the default bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

h1 {
  font-size: 3em; /* Adjust size as needed */
  color: #fff; /* Example color */
  /* Additional styles */
}

h2 {
  font-size: 1.5em;
  color: #ccc;
  /* Additional styles */
}

h3 {
  font-size: 1.2em;
  color: #aaa;
  /* Additional styles */
}


.article-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.title-button {
  background-color: transparent;
  color: white; /* Changed from 'transparent' to 'white' */
  border: none;
  text-shadow: none;
  box-shadow: none;
  outline: none;
  font-size: 16px; /* Add a font size for better visibility */
  cursor: pointer; 
  text-align: left;
}

.title-button:hover {
  border: solid #fff 1px;
  border-radius: 10px;
  color:#007bff;
}

.read-more-button {
  text-align: left;
  background-color: #f0f0f0; /* Example background color */
  color: #333; /* Example text color */
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  /* Add more styling as needed */
}

.read-more-button:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}

.chat-button {
  text-align: left;
  background-color: #f0f0f0; /* Example background color */
  color: #333; /* Example text color */
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 10px; /* Adds space between the Read More and Chat buttons */
  cursor: pointer;
  /* Add more styling as needed */
}

.chat-button:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}

.vis-container {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.controls {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  padding: 8px 16px; /* reduced vertical padding */
  color: #fff;
  width: 100%; /* full width */
  border-radius: 0; /* no border radius for top bar style */
  display: flex; /* aligns children inline */
  justify-content: flex-start; /* centers children horizontally */
  align-items: center; /* centers children vertically */
  top: 0; /* ensures it's at the top */
  left: 0; /* aligns to the left edge */
}

.button-read-more {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.content-box {
  position: fixed;
  top: 155%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  width: 75%; /* Adjust the width to 75% of the viewport width */
  height: 300px; /* Set a fixed height for the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  background-color: rgba(10, 10, 10, 0.85);
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #007bff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto; /* Add scroll for overflow content */
}

.button-active {
  border: 2px solid #fff; /* White border for active button */
}

.controls > button,
.reset-button {
  padding: 10px;
  background: #222;
  color: #ccc;
  border-radius: 12px;
  border: none;
  margin: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.controls > button:hover,
.reset-button:hover {
  background-color: #111;
  color: #fff;
}

.controls > button.active {
  font-weight: bold;
  border-radius: 12px;
  background-color: #131313;
  color: #fff;
}

.selected-point {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  text-align: left;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.reset-button {
  display: inline-block;
  position: fixed; /* Fix the position relative to the viewport */
  bottom: 20px; /* Distance from bottom, adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
  z-index: 1; /* Ensure it's above other elements */
  border: #000 1px;
  border-radius: 20px;
}

.open-button {
  position: center;
  margin-top: 0px;
  margin-left: 0px;
  background-color: transparent;
  color: #fff;
  border: 0px;
  border-radius: 12px;
}

.open-button:hover {
  border: solid #fff 1px;
  border-radius: 10px;
}


.vis-and-text-container {
  position: relative;
  height: 100vh; /* This ensures the container takes full viewport height */
}

.text-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white; /* Adjust color as needed */
  z-index: 10; /* Ensures text is above the Three.js canvas */
}

.left-text {
  position: absolute;
  top: 200px;
  left: 20px;
  width: 300px; /* Adjust based on your layout needs */
  z-index: 10;
  color: white;
}


.right-text {
  top: 100px;
  right: 20px; /* Adjust as needed */
}
